//
// Variables
// --------------------------------------------------


//
// Typography
//

$main-font-family: 'Trirong', serif;
$main-font-size: medium;

$header-font-size: 3.2em;

//
// Colors
//

$main-link-color: #5160a6;

//
// Media-queries
//

$navigation-switch-width: 850px;